demo/CiscoTropoSendSMS.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:CiscoTropo="http://www.mulesoft.org/schema/mule/CiscoTropo" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/CiscoTropo http://www.mulesoft.org/schema/mule/CiscoTropo/current/mule-CiscoTropo.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <CiscoTropo:config name="CiscoTropo__Configuration" authorization="Basic bXVsZXNvZnR1c2VyOkVpZGlrb0AxMA==" doc:name="CiscoTropo: Configuration"/>
    <flow name="tropocreatesessionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="#[['customerName':'ratan','numberToDial':'9258640632','msg':'Hai From Tropo Connector']]" doc:name="Set Payload"/>
        <CiscoTropo:create-session config-ref="CiscoTropo__Configuration" token="120de489a635044b99a6ce44ad5ca966747517069edd44305eb7b0f49fdf9c6fc4bb43ddff0a71580a29a0a1" doc:name="CiscoTropo">
            <CiscoTropo:variables ref="#[payload]"/>
        </CiscoTropo:create-session>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
